<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>添加歌曲到曲库</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-4" >
            <h1>添加歌曲到曲库</h1>
            <div id="musicList" class="md-2">

            </div>
            <button type="button" id="selectMusicBtn" class="btn btn-outline-primary btn-lg btn-block mt-4">
                添加歌曲
            </button>
            <button type="button"  id="importMusicBtn" class="btn btn-primary btn-lg btn-block mt-4">
                导入歌曲
            </button>
        </div>
        <script>
            require('../js/add.js')
        </script>
    </body>
</html>